# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Environment files
.env
.env.local
.env.*.local
.env.vercel

# Node
node_modules/
dist/

# Build output
app/dist/

# Logs
*.log

# Misc
backend/packages/
notetoself
